@model FlightData.Models.Employee

<div class="body-content">
    <p class="centre">Add an employee to the database</p>

    <form asp-action="Add" asp-controller="Employee">

        <label asp-for="Job"></label>
        <select asp-for="Job">
            <option value="1">Flight-deck crew</option>
            <option value="2">Cabin crew</option>
            <option value="3">Ground crew</option>
        </select>
        <br />

        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" placeholder="First name" required/>
        <br />

        <label asp-for="LastName"></label>
        <input asp-for="LastName" placeholder="Last name" required/>
        <br />

        <input type="submit" name="Add employee" />
    </form>
</div>